* {
    box-sizing: border-box;
    font-family: ui-sans-serif,system-ui,sans-serif,"Apple Color Emoji","Segoe UI Emoji",Segoe UI Symbol,"Noto Color Emoji";
}

input:focus {
    outline: none;
}

.btn:hover,
section > .grid-shortcuts > .shortcut:hover,
.clickable:hover {
    cursor: pointer;
}

#root {
    --root-width: 800px;
    width: var(--root-width);
    max-width: 100dvw;
    margin: auto;
}

.btn {
    width: 230px;
    height: 40px;
    font-size: 16px;
    color: white;
    background-color: dodgerblue;
    border-radius: 7px;
    user-select: none;
    align-content: center;
    text-align: center;
    transition-duration: .3s;
    margin: auto;
}

.inline-btns {
    display: flex;
    align-items: center;
}

.btn:hover {
    background-color: rgb(14, 105, 196);
}
section {
    width: 100%;
    margin: 10px 0px;
    border: 1px solid gray;
    border-radius: 5px;
    padding: 20px;
    height: fit-content;
}

section > .btn {
    margin: auto;
    margin-top: 20px;
}

section > div.selected {
    border-color: dodgerblue;
}

#root:has(section.full-screen) {
    width: 100%;
}

/* PROFILE */

section > .profile {
    width: 100%;
    border: 2px solid lightgray;
    border-radius: 7px;
    padding: 20px;
    margin-bottom: 10px;
}

section > .profile > div {
    margin-bottom: 10px;
}

section > .profile > .name {
    font-size: 18px;
    font-weight: bold;
}

section > .profile > .flags > .title {
    font-size: 17px;
    margin-bottom: 5px;
}

section > .profile > .flags > div:not(.title) {
    margin-left: 10px;
    margin-bottom: 3px;
}

section > .profile > .html {
    color: gray;
}

/* SCRIPTS */

section > .script {
    width: 100%;
    min-height: 50px;
    align-content: center;
    font-size: 17px;
    padding: 10px;
    margin: 20px 0px;
    border: 2px solid lightgray;
    border-radius: 5px;
}

section > .script > .script-name {
    font-size: 19px;
    font-size: bold;
}

section > .script > .script-value {
    color: gray;
    margin-top: 5px;
    height: 20px;
    align-content: center;
    white-space: nowrap;
    overflow: hidden;
}

section > form > .manual-script {
    width: 100%;
    min-height: 50px;
    border-radius: 10px;
    max-width: 100%;
    min-width: 100%;
    padding: 10px;
    font-size: 17px;
    margin-bottom: 10px;
}
section > form > .manual-script:focus {
    outline: none;
}

/* Trigger */
section > .trigger {
    width: fit-content;
    display: inline-block;
    min-height: 40px;
    position: relative;
    border: 2px solid lightgray;
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
    background-color: white;
}

section > .trigger > .title {
    z-index: 1;
}

section > .trigger > .trigger-checkbox {
    opacity: 0;
    z-index: 2;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}
section > .trigger > .trigger-checkbox:hover {
    cursor: pointer;
}

section > .trigger:has(.trigger-checkbox:checked) {
    background-color: dodgerblue;
    color: white;
    border-color: blue;
}

/* shortcuts */
section > .grid-shortcuts {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

section.full-screen > .grid-shortcuts {
    grid-template-columns: repeat(6, 1fr);
    gap: 20px;
}

section > .grid-shortcuts > .shortcut {
    width: auto;
    min-height: 100px;
    background-color: dodgerblue;
    color: white;
    font-size: 20px;
    text-align: center;
    align-content: center;
    border-radius: 10px;
}

section > .grid-shortcuts > .shortcut:active {
    background-color: rgb(14, 105, 196);
}

/* upload settings */
.upload-setting-main {
    width: 100%;
    height: fit-content;
    text-align: center;
    --elem-width: 500px;
}

.upload-setting-main > .upload-file-container {
    position: relative;
    margin: auto;
    width: var(--elem-width);
    height: 300px;
    border: 5px dashed dodgerblue;
    border-radius: 20px;
    margin-top: 30px;
}

.upload-setting-main > .upload-file-container > .upload-setting-input {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 2;
    opacity: 0;
}

.upload-setting-main > .upload-file-container > .text {
    font-size: 20px;
    font-weight: bold;
    color: gray;
    z-index: 1;
    width: 100%;
    height: 100%;
    text-align: center;
    align-content: center;
}

.upload-setting-main > .select-agenda-name {
    width: var(--elem-width);
    height: 40px;
    display: block;
    margin: auto;
    margin-top: 30px;
    padding: 0px 10px;
    appearance: menulist-button;
}

.upload-setting-main > .btn {
    margin-top: 30px;
    width: var(--elem-width);
}

/* scroll bar */
.scroll-bar-container {
    /* width: 500px; */
    height: fit-content;
    margin-left: 20px;
    margin-bottom: 30px;
    width: calc(100% - 60px);
}

.scroll-bar-container > .number {
    color: gray;
    font-size: 17px;
    margin-bottom: 10px;
}

.scroll-bar-container > input[type='range'] {
    width: 100%;
}

/* move control */
.movement-controller {
    --direction-size: 70px;
    --rotation-width: var(--direction-size);
    --rotation-height: calc(var(--direction-size) * 3);
    --controller-width: calc(var(--direction-size) * 6 + 10px);
    --controller-height: var(--rotation-height);
    width: var(--controller-width);
    height: var(--controller-height);
    position: relative;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 50px;
}

.movement-controller > .direction {
    width: var(--direction-size);
    height: var(--direction-size);
    position: absolute;
}

.movement-controller > .rotation {
    width: var(--rotation-width);
    height: var(--rotation-height);
    position: absolute;
}

.movement-controller > .W {
    left: var(--direction-size);
    top: 0;
}
.movement-controller > .A {
    left: 0;
    top: var(--direction-size);
}
.movement-controller > .S {
    left: var(--direction-size);
    top: calc(var(--direction-size) * 2);
}
.movement-controller > .D {
    left: calc(var(--direction-size) * 2);
    top: var(--direction-size);
}
.movement-controller > .Q {
    right: calc(var(--rotation-width) + 10px);
    top: 0;
}
.movement-controller > .E {
    right: 0;
    top: 0;
}
.movement-controller > div {
    border-radius: 10px;
    border: 1px solid gray;
    display: flex;
    align-items: center;
}
.movement-controller > div.holding {
    background-color: dodgerblue;
    color: white;
}
.movement-controller > div > * {
    margin: auto;
    width: 20px;
    height: 20px;
}