* {
    box-sizing: border-box;
    font-family: ui-sans-serif,system-ui,sans-serif,"Apple Color Emoji","Segoe UI Emoji",Segoe UI Symbol,"Noto Color Emoji";
}

input:focus {
    outline: none;
}

.btn:hover,
section > .foldable > .grid-shortcuts > .shortcut:hover,
.clickable:hover {
    cursor: pointer;
}

#root {
    --root-width: 1280px;
    /* width: var(--root-width); */
    width: '100vw';
    height: '100vh';
    /* max-width: 100dvw; */
    /* margin: auto; */
}

.btn {
    width: 230px;
    height: 40px;
    font-size: 16px;
    color: white;
    background-color: dodgerblue;
    border-radius: 7px;
    user-select: none;
    align-content: center;
    text-align: center;
    transition-duration: 0.5s; /* Adjust this value to change the fade time */
    margin: auto;
}

.inline-btns {
    display: flex;
    align-items: center;
}

.btn:hover {
    background-color: rgb(14, 105, 196);
}

.btn:active {
    background-color: rgb(10, 80, 150);
}

section {
    width: 100%;
    margin: 10px 0px;
    border: 1px solid gray;
    border-radius: 5px;
    padding: 20px;
    height: fit-content;
}

section > .title-bar {
    position: relative;
    width: 100%;
    height: fit-content;
}
section > .title-bar > .fold-button {
    position: absolute;
    right: 0;
    top: 10px;
    transition-duration: 0.5s; /* Adjust this value to change the fade time */
    transform-origin: center;
}
section > .title-bar > .fold-button.expand {
    transform: rotate(90deg);
}
section > .foldable {
    transform-origin: top;
    transition-duration: 0.5s; /* Adjust this value to change the fade time */
}
section > .foldable.folded {
    transform: scaleY(0);
}

section > .foldable > .btn {
    margin: auto;
    margin-top: 20px;
}

section > .foldable > div.selected {
    border-color: dodgerblue;
}

section.folded {
    height: 100px;
}

#root:has(section.full-screen) {
    width: 100%;
}

/* PROFILE */

section > .foldable > .profile {
    width: 100%;
    border: 2px solid lightgray;
    border-radius: 7px;
    padding: 20px;
    margin-bottom: 10px;
}

section > .foldable > .profile > div {
    margin-bottom: 10px;
}

section > .foldable > .profile > .name {
    font-size: 18px;
    font-weight: bold;
}

section > .foldable > .profile > .flags > .title {
    font-size: 17px;
    margin-bottom: 5px;
}

section > .foldable > .profile > .flags > div:not(.title) {
    margin-left: 10px;
    margin-bottom: 3px;
}

section > .foldable > .profile > .html {
    color: gray;
}

/* SCRIPTS */

section > .foldable > .script {
    width: 100%;
    min-height: 50px;
    align-content: center;
    font-size: 17px;
    padding: 10px;
    margin: 20px 0px;
    border: 2px solid lightgray;
    border-radius: 5px;
}

section > .foldable > .script > .script-name {
    font-size: 19px;
    font-size: bold;
}

section > .foldable > .script > .script-value {
    color: gray;
    margin-top: 5px;
    height: 20px;
    align-content: center;
    white-space: nowrap;
    overflow: hidden;
}

section > .foldable > .script.selected {
    background-color: dodgerblue;
    color: white;
    transition: background-color 0.5s ease;
}

section > .foldable > .script.executed {
    background-color: dodgerblue;
    color: white;
    animation: flash 2s ease;
}

@keyframes flash {
    0% {
        background-color: dodgerblue;
        color: black
    }
    100% {
        background-color: lightgray;
        color: black;
    }
}

section > .foldable > form > .manual-script {
    width: 100%;
    min-height: 50px;
    border-radius: 10px;
    max-width: 100%;
    min-width: 100%;
    padding: 10px;
    font-size: 17px;
    margin-bottom: 10px;
}
section > .foldable > form > .manual-script:focus {
    outline: none;
}

/* Trigger */
section > .foldable > .trigger {
    width: fit-content;
    display: inline-block;
    min-height: 40px;
    position: relative;
    border: 2px solid lightgray;
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
    background-color: white;
}

section > .foldable > .trigger > .title {
    z-index: 1;
}

section > .foldable > .trigger > .trigger-checkbox {
    opacity: 0;
    z-index: 2;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}
section > .foldable > .trigger > .trigger-checkbox:hover {
    cursor: pointer;
}

section > .foldable > .trigger:has(.trigger-checkbox:checked) {
    background-color: dodgerblue;
    color: white;
    border-color: blue;
}

/* shortcuts */
section > .foldable > .grid-shortcuts {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

section.full-screen > .foldable > .grid-shortcuts {
    grid-template-columns: repeat(8, 1fr);
    gap: 20px;
}

section > .foldable > .grid-shortcuts > .shortcut {
    width: auto;
    min-height: 100px;
    background-color: dodgerblue;
    color: white;
    font-size: 20px;
    text-align: center;
    align-content: center;
    border-radius: 10px;
    transition-duration: 0.2s;
}
section.full-screen > .foldable > .grid-shortcuts > .shortcut {
    font-size: 40px;
    min-height: 150px;
}

section > .foldable > .grid-shortcuts > .shortcut:active {
    background-color: rgb(10, 80, 150);
}

/* upload settings */
.upload-setting-main {
    width: 100%;
    height: fit-content;
    text-align: center;
    --elem-width: 500px;
}

.upload-setting-main > .upload-file-container {
    position: relative;
    margin: auto;
    width: var(--elem-width);
    height: 300px;
    border: 5px dashed dodgerblue;
    border-radius: 20px;
    margin-top: 30px;
}

.upload-setting-main > .upload-file-container > .upload-setting-input {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 2;
    opacity: 0;
}

.upload-setting-main > .upload-file-container > .text {
    font-size: 20px;
    font-weight: bold;
    color: gray;
    z-index: 1;
    width: 100%;
    height: 100%;
    text-align: center;
    align-content: center;
}

.upload-setting-main > .select-agenda-name {
    width: var(--elem-width);
    height: 40px;
    display: block;
    margin: auto;
    margin-top: 30px;
    padding: 0px 10px;
    appearance: menulist-button;
}

.upload-setting-main > .btn {
    margin-top: 30px;
    width: var(--elem-width);
}

/* scroll bar */
.scroll-bar-container {
    /* width: 500px; */
    height: fit-content;
    margin-left: 20px;
    margin-bottom: 30px;
    width: calc(100% - 60px);
}

.scroll-bar-container > .number {
    color: gray;
    font-size: 17px;
    margin-bottom: 10px;
}

.scroll-bar-container > .number.compact {
    color: black;
    font-size: 17px;
    margin-bottom: 10px;
}

.scroll-bar-container > input[type='range'] {
    width: 100%;
}

.scroll-bar-container.compact {
    height: fit-content;
    margin-left: 0px;
    margin-bottom: 0px;
    width: calc(100% - 20px);
}

/* move control */
.movement-controller {
    --direction-size: 70px;
    --rotation-width: var(--direction-size);
    --rotation-height: calc(var(--direction-size) * 3);
    --controller-width: calc(var(--direction-size) * 6 + 10px);
    --controller-height: calc(var(--rotation-height) + var(--head-height) + 20px);
    --head-width: calc((var(--controller-width) - 30px) / 4);
    --head-height: calc(var(--direction-size) / 2);
    width: var(--controller-width);
    height: var(--controller-height);
    position: relative;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 50px;
}

.movement-controller > .direction {
    width: var(--direction-size);
    height: var(--direction-size);
    position: absolute;
}

.movement-controller > .rotation {
    width: var(--rotation-width);
    height: var(--rotation-height);
    position: absolute;
}

.movement-controller > .head-pos {
    width: var(--head-width);
    height: var(--head-height);
    position: absolute;
    top: calc(var(--rotation-height) + 20px);
}

.movement-controller > .W {
    left: var(--direction-size);
    top: 0;
}
.movement-controller > .A {
    left: 0;
    top: var(--direction-size);
}
.movement-controller > .S {
    left: var(--direction-size);
    top: calc(var(--direction-size) * 2);
}
.movement-controller > .D {
    left: calc(var(--direction-size) * 2);
    top: var(--direction-size);
}
.movement-controller > .Q {
    right: calc(var(--rotation-width) + 10px);
    top: 0;
}

.movement-controller > .E {
    right: 0;
    top: 0;
}
.movement-controller > .UP {
    left: 0;
}
.movement-controller > .DOWN {
    left: calc(var(--head-width) + 10px);
}
.movement-controller > .LEFT {
    left: calc(var(--head-width) * 2 + 20px);
}
.movement-controller > .RIGHT {
    left: calc(var(--head-width) * 3 + 30px);
}
.movement-controller > div {
    border-radius: 10px;
    border: 1px solid gray;
    display: flex;
    align-items: center;
}
.movement-controller > div.holding {
    background-color: dodgerblue;
    color: white;
}
.movement-controller > div > * {
    margin: auto;
    width: 20px;
    height: 20px;
}

.rotation.compact {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid gray;
    border-radius: 10px;
}

.rotation.compact.holding {
    background-color: dodgerblue;
    color: white;
}

/* announcements */
.select-announces {
    width: 100%;
    appearance: menulist-button;
    height: 40px;
}

.include-announces > .lines {
    margin-left:7px;
}

.full-screen-unscrollable {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background-color: white;
    z-index: 1000;
}

.grid-container {
    display: grid;
    width: 100vw;
    height: 100vh;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 2fr;
    gap: 0px;
}

.grid-item {
    border: 1px solid gray;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    position: relative;
}

.grid-item {
    border: 1px solid gray;
    display: flex;
    align-items: center;
    justify-content: center;
}

.full-screen-section {
    margin: 0;
    padding: 10px;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background-color: white;
    z-index: 1000;
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
}

.joystick-box {
    position: relative;
    width: 100px;
    height: 100px;
    border: 2px solid gray;
    border-radius: 10px;
    margin: auto;
    background-color: #E4F6F8;
}

.joystick-point {
    position: absolute;
    width: 10px;
    height: 10px;
    background-color: dodgerblue;
    border-radius: 50%;
    transform: translate(-50%, -50%);
}

.joystick-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 5px;
    justify-items: center;
    align-items: center;
}

.compact {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}

.compact .script {
    /* display: flex;
    flex-direction: column; */
    width: 100%;
    min-height: 30px;
    align-content: center;
    font-size: 14px;
    padding: 5px;
    margin: 10px 0px;
    border: 1px solid lightgray;
    border-radius: 5px;
}

.compact .script > .script-name {
    font-size: 16px;
    font-weight: bold;
}

.compact .script > .script-value {
    color: gray;
    margin-top: 3px;
    height: 15px;
    align-content: center;
    white-space: nowrap;
    overflow: hidden;
}

.compact .inline-btns {
    bottom: 0;
    width: 100%;
    justify-content: space-around;
    padding: 10px;
    position: absolute;
}

.compact .script-container {
    height: calc(100% - 60px); /* Adjust this value as needed to fit within the padding */
    overflow-y: auto;
    border: 1px solid lightgray;
    border-radius: 5px;
    padding: 5px;
    margin-bottom: 10px;
    box-sizing: border-box;
}

.compact .script.selected {
    background-color: rgb(213, 213, 213);
    border: 4px dashed dodgerblue;
    border-width: 4px;
    /* color: white; */
    transition: background-color 0.5s ease;
}

.compact .script.executed {
    background-color: dodgerblue;
    color: white;
    animation: flash 2s ease;
}
